*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: url(./img/ishan-seefromthesky-LNdpi8Yzi34-unsplash.jpg);
    background-repeat: no-repeat;
}
@media only screen and (min-width: 600px) {
    section {width: 70%;}
    aside {width: 30%}
    section {display: column;}
}

header {
    width: 100vw;
    padding: 0.3em;
    text-align: center;
    color: #e01212fd;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 0em;
   background: url("./img/chen-mizrach-jL6PTWI7h18-unsplash.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-style: italic;
}

header :hover {
    color: navajowhite;
}

.nav-bar {
    width: 100vw;
    padding: 0.4em;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    flex-direction: row; 
    background: rgb(212, 200, 21);
}
a.link {
    text-decoration: none;
    color: rgb(41, 27, 27);
    background: rgb(212, 200, 21);
    margin-left: 0;
    padding-left: 0;
     width: 60vw;
     text-align: center;
}
.nav-bar :hover {
    color: rgb(227, 233, 227);
    background: rgba(121, 15, 68, 0.582);
    border-bottom: 5px solid goldenrod;
    flex-grow: 2em;
}

section {
    padding: 10px 30px 100px 10px;
    margin: 0;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; 
    text-align: center;   
}
.section_img img{
    height: 300px;
    width: 300px;
    margin-left: 5px;
    overflow: hidden;
}
 .section_img :hover { 
     transform: rotateY(145deg);
}
.section_text {
    width: 300px;
    margin-left: 5px;
}
aside {
    background-color: goldenrod;
    padding: 10px 0 20px 20px;
    width: 330px;
    float: left;
    text-align: left;
    font-size: 1em;
    word-spacing: 5px;
    line-height: 50px;
    font-weight: bold;
    color: midnightblue;
}
#car {
    width: 300px;
    height: 250px;
}
.aside-heading {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.detail {
    text-decoration: none;
    font-style: italic;
}
footer {
    background-color: grey;
    height: 100px;
    text-align: center;
}
.foot {
    margin-top: 50px;
    transform: translate(0, 50px);
}