@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Roboto:ital,wght@0,400;1,900&display=swap');
body {
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: url(./img/ishan-seefromthesky-LNdpi8Yzi34-unsplash.jpg);
    background-repeat: no-repeat;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #section{
        width: 67%;
    }

    #aside{
        width: 30%;
        margin-left: 3%;
    }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #section {
        width: 100%;
    }

    #aside {
        width: 100%;
        margin: 0;
        border: none;
    }
}

header {
    width: 100vw;
    padding: 0.2em 0 0.2em 0.2em;
    text-align: center;
    color: #e01212fd;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 0em;
   background: url("./img/chen-mizrach-jL6PTWI7h18-unsplash.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Roboto', sans-serif;
   font-style: italic;
}

header :hover {
    color: #4D7298;
}

.nav-bar {
    width: 100vw;
    padding: 0.1em;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    flex-direction: row; 
    background: #859684;
}
a.link {
    text-decoration: none;
    color: rgb(41, 27, 27);
    background: #859684;
    margin-left: 0;
    padding-left: 20px 0;
     width: 60vw;
     text-align: center;
}
.nav-bar :hover {
    color: rgb(227, 233, 227);
    background: #2E8035;
    border-bottom: 5px solid #28E050;
    flex-grow: 2em;
}

section {
    padding: 10px 30px 100px 10px;
    margin: 0;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; 
    text-align: center;  
    box-sizing: border-box; 
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.section_img img{
    height: 300px;
    width: 300px;
    margin-left: 5px;
    overflow: hidden;
}
 .section_img :hover { 
     transform: rotateY(145deg);
}
.section_text {
    width: 300px;
    margin-left: 5px;
}
aside {
    background-color: #99C1C4;
    padding: 0 0 20px 20px;
    width: 330px;
    float: left;
    text-align: left;
    font-size: 1.2em;
    word-spacing: 5px;
    line-height: 50px;
    font-weight: bold;
    color: #2F3E46;
}
#car {
    width: 300px;
    height: 250px;
}
.aside-heading {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.detail {
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
    font-size: 1.25em;
}
footer {
    background-color: grey;
    padding: 0 10px 50px 0;
    text-align: center;
}
.foot {
    margin-top: 30px;
    transform: translate(0, 50px);
}
footer a {
    position: relative;
    color: navy;
    font-size: 1.5em;
}
/* about image banner */
#about-img {
    width: 900px;
}
/* contact banner */
#contact-section img {
    width: 900px;
    margin-top: 0;
    height: 400px;
}
/* form stylying */
#email, #name, #phone, #address {
    padding: 5px;
    width: 350px;
}
#submit {
    padding: 5px;
    width: 371px;
}
